<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>covid</key>
	<dict>
		<key>baseUrl</key>
		<string>https://corona.lmao.ninja/v2</string>
		<key>totals</key>
		<string>/all</string>
		<key>countries</key>
		<string>/countries</string>
	</dict>
</dict>
</plist>
